/*
  DIAGNOSTIC STYLING
*/

/* Portfolio Styling */
body {
  background-color: aliceblue;
  font-family: 'Amatic SC', cursive;
}
h1 {
  text-align: center;
  font-size: 3em;
}
h2 {
  text-align: center;
  font-size: 2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25em;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

a:link {
  text-decoration: none;
}

/* Light Gallery */

#gallery-1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

#gallery-1 img {
  height: 400px;
}