/*
  DIAGNOSTIC STYLING
*/

/* Portfolio Styling */
body {
  background: rgb(214,255,214);
  background: linear-gradient(0deg, rgba(214,255,214,1) 0%, rgba(163,211,254,1) 100%);
  font-family: 'Amatic SC', cursive;
}
h1 {
  text-align: center;
  font-size: 3em;
}
h2 {
  text-align: center;
  font-size: 2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25em;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  text-align: center;
  padding: 3em;
}

.blurb {
  padding: 4.6em;
}

a:link {
  text-decoration: none;
}

/* Light Gallery */

#gallery-1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

#gallery-1 img {
  height: 400px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.5em 10em;
  text-align: center;
  font-size: 1.5em;
}

.out-link {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

#button {
  width: 400px;
  align-self: center;
}

footer {
  text-align: center;
}